---
layout: departments
title: Computer Science
permalink: /cs/
---
<style>
    #headwrap {
        background-image: url('/assets/img/departments/compsci/comSciBG.jpg');
        background-repeat: no-repeat;
    }
</style>

    <div class="container mtb">
        
        <div class="row centered">
            
            <div class="col-lg-8">
            
                </br>
                <div class="spacing"></div>
                <div class="spacing"></div>
            
                <!--IMAGES AND/OR CAROUSEL-->
                <!--<img src="/assets/img/departments/compsciImg.jpg">-->
                {% include cs_carousel.html %}
            
                <div class="spacing"></div>
                <div class="spacing"></div>
            
                <div class="col-md-6">
                    <i class="fa fa-star fa-3x"></i>
                    <h4>Vision </h4>
                    <p>To be a leading Department of the University of Botswana and academic Center of Excellence in Africa and the region through 
                    advancement and promotion of scholarship, research and innovation
                    </p>
                </div>
            
                <div class="col-md-6">
                    <i class="fa fa-location-arrow fa-3x"></i>
                    <h4>Mission</h4>
                    <p>To advance the intellectual capacity of the nation and the international community by offering quality 
                    academic programmes that are bench-marked against international standards.</p>
                    <p>To produce computer scientists that are professionally compentent, responsible and innovative in solving real-world problems.
                    </p>
                </div>
                
            </div><!--col-lg-8-->
            
        {% include cs_dep_sidebar.html %}
            
        </div><!--row-->
        
    </div><!--/container -->
