---
layout: departments
title: Computer Science
permalink: /cs/
---
<style>
    #headwrap {
        background-image: url('/assets/img/departments/compsci/comSciBG.jpg');
        background-repeat: no-repeat;
    }
</style>

{% include cs_dep_sidebar.html %}

<div id="service">
    <div class="container">
        <div class="row centered">
            </br>
            <div class="spacing"></div>
            <div class="spacing"></div>
            
            <!--IMAGES AND/OR CAROUSEL-->
            <img src="/assets/img/departments/compsciImg.jpg">
            
            <div class="spacing"></div>
            <div class="spacing"></div>
            
            <div class="col-md-4">
                <i class="fa fa-star fa-3x"></i>
                <h4>Vision</h4>
                <p>To be a leading Department of the University of Botswana and academic Center of Excellence in Africa and the region through 
                advancement and promotion of scholarship, research and innovatio
                </p>
            </div>
            
            <div class="col-md-4">
                <i class="fa fa-location-arrow fa-3x"></i>
                <h4>Mission</h4>
                <p>To advance the intellectual capacity of the nation and the international community by offering quality 
                academic programmes that are bench-marked against international standards.</p>
                <p>To produce computer scientists that are professionally compentent, responsible and innovative in solving real-world problems.
                </p>
            </div>
        </div><!--row-centered-->
    </div><!--/container -->



    <div class="container mtb">
        <div class="row">
            <div class="col-lg-3">
                <h4>Latest News And Events</h4>
                <div class="hline"></div>
                {% for post in site.categories['blog'] limit:5 %} 
                    <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
                {% endfor %} 
            </div>
        
            <div class="col-lg-4 col-lg-offset-1">
                <h4><a href="#">More About Our Department</a></h4>
            </div>

            <div class="col-lg-3">
                <h4>Looking For Us Geeks? Find Us Here.</h4>
                <div class="hline"></div>
                <a href="#">Place Link To Departmental Whereabouts Here</a>
            </div>
        </div><!--/row-->
    </div><!--/container-->

</div><!--/service -->
