---
layout: departments
title: Computer Science - Programmes
permalink: /cs/programmes.html/
---

<div class="container mtb">
        
	<div class="row centered">
        <!--Content Should Go Here-->
        <div class="col-lg-8 col-md-8 col-sm-8">
			<h1><a href="#pat" id="pat">PROGRAMMES AND TITLES</a></h1>
			</br>
			<p>The Department of Computer Science offers the following undergraduate and postgraduate programmes:
			</br>
			Single major programme leading to the award of:
			</p>
			</br>
			
			<h3><a href="#ugp" id="ugp">BACHELOR OF SCIENCE(UNDERGRADUATE PROGRAMMES)</a></h3>
			<div class="panel-group" id="accordian">
				<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
									<a href="#cla1" data-toggle="collapse" data-parent="#accordian">Bachelor of Science(Computer Science)</a>
							</h4>
					</div>
					<div class="collapse panel-collapse" id="cla1">
							<div class="panel-body text-justify">
								{% include cs_courses.html %}
							</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
									<a href="#cla2" data-toggle="collapse" data-parent="#accordian">Bachelor of Science(Computer with Finance)</a>
							</h4>
					</div>
					<div class="collapse panel-collapse" id="cla2">
							<div class="panel-body">This is the part for the supposed mud blood "with Finance" students.
							We're the smarter of the two, but they don't wanna accept that. Anyways blah blah wingardium
							leviossaaaaaaahhhhhh :D</div>
					</div>
				</div>
	   
				<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
									<a href="#cla3" data-toggle="collapse" data-parent="#accordian">Bachelor of Science(Information Technology)</a>
							</h4>
					</div>
					<div class="collapse panel-collapse" id="cla3">
							<div class="panel-body">Hardy IT guys, IDGAF enough to put too mu....</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
									<a href="#cla4" data-toggle="collapse" data-parent="#accordian">Bachelor of Science(Computer Information Systems)</a>
									</h4>
					</div>
					<div class="collapse panel-collapse" id="cla4">
							<div class="panel-body">Anyone know about this course? Yes? No? eisssshhh even me, ah hardy
							guys. We will try and find out more about you \( ._.)/</div>
					</div>
				</div>
			</div>
			
			</br>
			<h3><a href="#cmp" id="cmp">COMBINED MINOR/MAJOR PROGRAMME(COMPUTER SCIENCE MAJOR)</a></h3>
			<div class="panel-group" id="accordianB">
				<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
									<a href="#cla5" data-toggle="collapse" data-parent="#accordianB">Bachelor of Science(other subject Major/Computer Science Minor)</a>
							</h4>
					</div>
					<div class="collapse panel-collapse" id="cla5">
							<div class="panel-body">Pretend computer science students, looking at you Child Prodigy :D :*</div>
					</div>
				</div>
			</div>
			
			</br>
			<h3><a href="#mos" id="mos">MASTER OF SCIENCE</a></h3>
			<div class="panel-group" id="accordianC">
				<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
									<a href="#cla6" data-toggle="collapse" data-parent="#accordianC">Master of Science(Computer Science)</a>
							</h4>
					</div>
					<div class="collapse panel-collapse" id="cla6">
							<div class="panel-body">Can't touch this B-|</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
									<a href="#cla7" data-toggle="collapse" data-parent="#accordianC">Master of Science(Computer Information Systems)</a>
							</h4>
					</div>
					<div class="collapse panel-collapse" id="cla7">
							<div class="panel-body">Yoh!! Masters for the unknown programme?! Awesome, must be a serious programme</div>
					</div>
				</div>
			</div>
			
			</br>
			<h3><a href="#mop" id="mop">MASTER OF PHILOSOPHY</a></h3>
			<div class="panel-group" id="accordianD">
				<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
									<a href="#cla8" data-toggle="collapse" data-parent="#accordianD">Master of Philosophy(Computer Science)</a>
							</h4>
					</div>
					<div class="collapse panel-collapse" id="cla8">
							<div class="panel-body">heh?! Philosphy?!!</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
									<a href="#cla9" data-toggle="collapse" data-parent="#accordianD">Master of Philosphy(Computer Information Systems)</a>
							</h4>
					</div>
					<div class="collapse panel-collapse" id="cla9">
							<div class="panel-body">heh?! Philosphy?!!</div>
					</div>
				</div>
			</div>
        </div><!--column length 8-->

	<!-- SIDEBAR -->
    {% include cs_dep_sidebar.html %}
    
	</div>
</div>
