---
layout: departments
title: Computer Science - Staff
permalink: /cs/staff.html/
---
<div class="container mtb">
  
  <div class="row centered">

    <div class="col-lg-8">

        <h1>OUR STAFF</h1>
        <br/>
        
        <div class="col-lg-4">
          <div class="portfolio-item graphic-design">
            <div class="he-wrap tpl6">
              <img src="/assets/img/members/csteam_am.png" alt="Dr. A. Masizana">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="a1" data-animate="fadeInDown">CONTACT ME</h3>
                    <h6 class="a1" data-animate="fadeInUp">E-Mail: masizana@mopipi.ub.bw<br>
                    <h6 class="a1" data-animate="fadeInUp">Phone: (+267)355-2131<br>
                    <h6 class="a1" data-animate="fadeInUp">Office: Block 232, Office 227<br>
                    <!--<a data-rel="prettyPhoto" href="" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>-->
                    <!--<a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>-->
                  </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
          </div><!--portfolio-item graphic-design-->
        </div><!-- col-lg-8 -->
        
        <div class="col-lg-8">
          
          <h3>Dr. A. Masizana</h3>
          <h3>HEAD OF DEPARTMENT</h3>
          <h6>SENIOR LECTURER</h6>
          <br>          
          <h6>
            BSc (Kingston Uni), DCP, Msc (Oxford Brookes Uni)<br>
            PhD UMIST(Uni of Manchester Institute of Science and Tech.)
          </h6>
          <h6>
            Research and Teaching Areas: Decision Support Systems, Data and
            Information retrieval, Business Intelligence
          </h6>
          <br>
          
        </div>
        
    </div>
    
    <!--STAFF MEMBERS-->
    {% include cs_staff.html %}
    
    
    <!--SIDEBAR-->
    {% include cs_dep_sidebar.html %}
      
  </div><!--row-->
</div>
