---
layout: portfolio
title: Portfolio
permalink: /portfolio/
---

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
		 	<div class="col-lg-8 col-lg-offset-2 centered">
		 		<h2>We create awesome designs to standout your site or product. Check some of our latest works.</h2>
		 		<br>
		 		<div class="hline"></div>
		 	</div>
	 	</div>
	 </div><! --/container -->
	 
	<!-- *****************************************************************************************************************
	 PORTFOLIO SECTION
	 ***************************************************************************************************************** -->
	 <div id="portfoliowrap">
        <div class="portfolio-centered">
            <div class="recentitems portfolio">
                
                {% for project in site.categories['projects'] %}
				<div class="portfolio-item graphic-design">
					<div class="he-wrap tpl6">
					<img src="/assets/img/projects/{{ project.img }}" alt="">
						<div class="he-view">
							<div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                                <a data-rel="prettyPhoto" href="/assets/img/projects/{{ project.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="{{ project.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        	</div><!-- he bg -->
						</div><!-- he view -->		
					</div><!-- he wrap -->
				</div><!-- end col-12 -->
                    
                    {% endfor %}
                
                
                                {% for project in site.categories['projects'] %}
				<div class="portfolio-item graphic-design">
					<div class="he-wrap tpl6">
					<img src="/assets/img/projects/{{ project.img }}" alt="">
						<div class="he-view">
							<div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                                <a data-rel="prettyPhoto" href="/assets/img/projects/{{ project.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="{{ project.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        	</div><!-- he bg -->
						</div><!-- he view -->		
					</div><!-- he wrap -->
				</div><!-- end col-12 -->
                    
                    {% endfor %}
                    
            </div><!-- portfolio -->
        </div><!-- portfolio container -->
	 </div><!--/Portfoliowrap -->