<section class="clients">
	<div class="container text-center">
		<div class="row">
		<div class="col-sm-12">
				<h1 class="center-block vis">TRUSTED BY COMPANIES ACROSS EVERY INDUSTRY.<br></h1>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row client-row">
				<div class="row-wrapper">
					<div class="col-sm-3 text-center">
						<img alt="client" src="/assets/img/designcrowd.png">
					</div>

					<div class="col-sm-3 text-center">
						<img alt="client" src="/assets/img/deputy.png">
					</div>

					<div class="col-sm-3 text-center">
						<img alt="client" src="/assets/img/arn.png">
					</div>

					<div class="col-sm-3 text-center">
						<img alt="client" src="/assets/img/abc.png">
					</div>
				</div>
			</div><!--end of row-->
					<div class="row client-row">
						<div class="row-wrapper">
							<div class="col-sm-3 text-center">
								<img alt="client" src="/assets/img/fairfax.jpg">
							</div>

							<div class="col-sm-3 text-center">
								<img alt="client" src="/assets/img/mamamia.png">
							</div>

							<div class="col-sm-3 text-center">
								<img alt="client" src="/assets/img/oneflare.png">
							</div>

							<div class="col-sm-3 text-center">
								<img alt="client" src="/assets/img/ratecity.png">
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
