<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>Trusted by data-driven organisations</h3>
        </div><!--/row -->
        <div class="section group">
        	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
            <img src="/assets/img/clients/logo-400x300-theiconic.png" class="img-responsive">
        	</div>
        	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
            <img src="/assets/img/clients/logo-400x300-oneflare.png" class="img-responsive">
        	</div>
          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
            <img src="/assets/img/clients/logo-400x300-abc.png" class="img-responsive">
        	</div>
        	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
            <img src="/assets/img/clients/logo-400x300-fairfax.png" class="img-responsive">
        	</div>
        	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
            <img src="/assets/img/clients/logo-400x300-crownbet.png" class="img-responsive">
        	</div>
        	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
            <img src="/assets/img/clients/logo-400x300-deputy.png" class="img-responsive">
        	</div>
        </div>
    </div><!--/container -->
</div><!--/cwrap -->
