<div class="container mtb">
    <div class="collapsible">
        <div class="question"><h3 class="mb">Our Constitution and ByLaws</h3></br></div>
            <a href="#hide1" class="hide" id="hide1">Click/Tap to expand</a>
            <a href="#show1" class="show" id="show1">Click/Tap to collapse</a>
            <div class="list">
                <p><iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Fmypages.iit.edu%2F~ieee%2Fpublic%2Fmedia%2FIEEEIITConstitutionBylaws2014-15.pdf&embedded=true" width="100%" height="780" style="border: none;">View the document at http://mypages.iit.edu/~ieee/public/media/IEEEIITConstitutionBylaws2014-15.pdf</iframe></p>
            </div>
        
        </div>
    </div><!--row-->
</div><!--container-->
