<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">Our Constitution and ByLaws</h3>
        <div onClick="openClose('a1')" style="cursor:hand; cursor:pointer"><b>Click/Tap to expand</b></div>
          <div id="a1" class="texter">
            <iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Fmypages.iit.edu%2F~ieee%2Fpublic%2Fmedia%2FIEEEIITConstitutionBylaws2014-15.pdf&embedded=true" width="100%" height="780" style="border: none;">View the document at http://mypages.iit.edu/~ieee/public/media/IEEEIITConstitutionBylaws2014-15.pdf</iframe>
        </div>
        
    </div><!--row-->
</div><!--container-->
