<div class="col-lg-2">
    
    <div class="spacing"></div>
    
    <h4>Bookmarks</h4>
    
    <div class="hline"></div>
    <a href="#">Department Bookmark 1></a><br><br>
    <a href="#">Department Bookmark 2></a><br><br>
    <a href="#">Department Bookmark 3></a><br><br>
    <a href="#">Department Bookmark 4></a><br><br>
    <a href="#">Department Bookmark 5></a><br><br>
    <a href="#">Department Bookmark 6></a><br><br>
    <a href="#">Department Bookmark 7></a><br><br>
    <a href="#">Department Bookmark 8></a><br><br>
    <a href="#">Department Bookmark 9></a><br><br>
    <a href="#">Department Bookmark 10></a><br><br>
    <a href="#">Department Bookmark Infinity></a>

    <div class="spacing"></div>

    <div class="hline"></div>
</div>
