<div class="col-lg-4">
    
    <div class="spacing"></div>
    <h3 style="text-align:center;">Navigation</h3>
    <div class="hline"></div>
    <div class="spacing"></div>
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li {% if page.title == "Computer Science Home" %}class="active"{% endif %}><a href="/cs/">HOME</a></li>
        <li {% if page.title == "Programmes" %}class="active"{% endif %}><a href="/cs/programmes.html">Programmes of Study</a></li>
        <li {% if page.title == "Alliances" %}class="active"{% endif %}><a href="/cs/alliances.html">Alliances</a></li>
        <li {% if page.title == "Staff" %}class="active"{% endif %}><a href="/cs/staff.html">People</a></li>
        <li {% if page.title == "Research" %}class="active"{% endif %}><a href="/cs/research.html">Research</a></li>
        <li {% if page.title == "About Us" %}class="active"{% endif %}><a href="/cs/about_cs.html">About</a></li>
    </ul>
    
    <div class="hline"></div>
    
</div>
