<div class="col-lg-4">
    
    <div class="spacing"></div>
    <h3 style="text-align:center;">Navigation</h3>
    <div class="hline"></div>
    <div class="spacing"></div>
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li {% if page.title == "Computer Science Home" %}class="active"{% endif %}><a href="/cs/">HOME</a></li>
        <li {% if page.title == "Programmes" %}class="active dropdown"{% endif %}><a href="/cs/programmes.html">Study Programmes</a></li>
        <li {% if page.title == "Alliances" %}class="active dropdown"{% endif %}><a href="/cs/alliances.html">Alliances</a></li>
        <li><a href="#">Some Dropdown Tab</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Department Tab 9<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Some Sub Link</a></li>
                <li><a href="#">Some Sub Link</a></li>
                <li><a href="#">Some Sub Link</a></li>
            </ul>
        </li>
    </ul>
    
    <div class="hline"></div>
    
</div>
