<!--AYALEW-->
<br/><br/>
<div class="col-lg-8">

    <div class="col-lg-4">
    
        <div class="portfolio-item graphic-design">
            <div class="he-wrap tpl6">
                <img src="/assets/img/members/csteam_ya.png" alt="Dr. Y. Ayalew"/>
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">CONTACT ME</h3>
                        <h6 class="a1" data-animate="fadeInUp">E-Mail: ayalew@mopipi.ub.bw<br>
                        <h6 class="a1" data-animate="fadeInUp">Phone: (+267)355-2869<br>
                        <h6 class="a1" data-animate="fadeInUp">Office: Block 232, Office 222<br>
                        <!--<a data-rel="prettyPhoto" href="" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>-->
                        <!--<a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- col-lg-4 -->
        
    <div class="col-lg-8">

        <h3>Dr. A. Ayalew</h3>
        <h6>ASSOCIATE PROFESSOR</h6>
        <br>          
        <h6>
            BSc , MSc (Addis Ababa Uni)<br/>
            PhD (Uni of Klagenfurt)
        </h6>
        <h6>
            Research and Teaching Areas: Software Engineering, Database
        </h6>
        <br>
  
    </div><!-- col-lg-8 -->
    
</div>

<div class="col-lg-8">

    <div class="col-lg-4">
    
        <div class="portfolio-item graphic-design">
            <div class="he-wrap tpl6">
                <img src="/assets/img/members/csteam_tm.png" alt="Dr. T. Mogotlhawane"/>
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">CONTACT ME</h3>
                        <h6 class="a1" data-animate="fadeInUp">E-Mail: mogotlhw@mopipi.ub.bw<br>
                        <h6 class="a1" data-animate="fadeInUp">Phone: (+267)355-4975<br>
                        <h6 class="a1" data-animate="fadeInUp">Office: Block 232, Office 269<br>
                        <!--<a data-rel="prettyPhoto" href="" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>-->
                        <!--<a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- col-lg-4 -->
        
    <div class="col-lg-8">

        <h3>Dr. T. Mogotlhawane</h3>
        <h6>SENIOR LECTURER</h6>
        <br>          
        <h6>
            Hon-BSc (Uni of East London),<br/>
            MSc,PhD (Uni of Salford)
        </h6>
        <h6>
            Research and Teaching Areas: Information Systems and Management,
            Information Technology and productivity, Social application of
            information
        </h6>
        <br>
  
    </div><!-- col-lg-8 -->
    
</div>
