<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom CSS     -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/theme-blues.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
    <script src="/assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.plugin.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.flexslider-min.js"></script>
        <script src="/assets/js/smooth-scroll.min.js"></script>
        <script src="/assets/js/skrollr.min.js"></script>
        <script src="/assets/js/spectragram.min.js"></script>
        <script src="/assets/js/scrollReveal.min.js"></script>
        <script src="/assets/js/isotope.min.js"></script>
        <script src="/assets/js/lightbox.min.js"></script>
        <script src="/assets/js/jquery.countdown.min.js"></script>
        <script src="/assets/js/scripts.js"></script>

        <!-- NProgress -->
        <link href="../assets/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="../assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- Datatables -->
        <link href="../assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="../assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link href="../assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
        <link href="../assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
        <link href="../assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
</head>
