<div id="wrapper">
  <div id="hero">
    <div class="header">
      <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Unified Analytics, event pipeline.</h3>
                 <h5>Bring your customer data together from all your touchpoints. </h5>
                 <a href="/technology/" class="btn btn-default">Learn More</a>
                 <a href="/demo/" class="btn btn-primary btn-filled">Request a Demo</a>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
          <img src="{{ "/assets/img/hero-sf2.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div>
  </div>
    </div>
