<script src="{{ "/assets/js/jquery.hoverdir.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.hoverex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="/assets/js/jquery.mixitup.min.js"></script>
