<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">MEET IEEE@IIT EXECUTIVE BOARD</h3>
        <p>Our leadership team works tirelessly to provide a top-notch social, technical and professional community to the ECE student body. We want to help our ECE community gain knowledge, skills and networks that will help them through their academic and professional careers. The leadership team organizes all IEEE@IIT events and directs new initiatives that are fun yet meaningful.

The Executive Board is responsible for moving the Branch towards its goals outlined in the constitution, maintaining the functionality of the Branch, and maintaining the public image of the Branch. It is also responsible for planning, adopting, and executing the policies and programs of the Branch, as well as approving programs submitted by the committees before they are submitted to the Branch.

The officers listed below are elected annually at the second to last general body meeting of each spring semester.</br></p>
        {% for member in site.members %}
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
            <!--UNAVAILABLE<img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">-->
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
        
    </div><! --/row -->
</div><! --/container -->
