<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li {% if page.title == "Home" %}class="active dropdown"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
        <li {% if page.title == "Departments" %}class="active dropdown"{% endif %} class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="{{"/departments/" | prepend: site.baseurl }}">
          DEPARTMENTS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/cs">COMPUTER SCIENCE</a></li>
              <li class="divider"></li>
              <li><a href="#">BIOLOGY</a></li>
              <li class="divider"></li>
              <li><a href="#">MATHEMATICS</a></li>
            </ul>
          </li>
        <li {% if page.title == "Blog" %}class="active dropdown"{% endif %}><a href="{{"/blog/" | prepend: site.baseurl }}">NEWS	&#38; ANNOUNCEMENTS</a></li>
        <li {% if page.title == "People" %}class="active dropdown"{% endif %}><a href="{{"/people/" | prepend: site.baseurl }}">PEOPLE</a></li>
        <li {% if page.title == "Contact" %}class="active dropdown"{% endif %}><a href="{{"/contact/" | prepend: site.baseurl }}">ALUMNI</a></li>
        <li {% if page.title == "Portfolio" %}class="active dropdown"{% endif %}><a href="{{"/portfolio/" | prepend: site.baseurl }}">GALLERY</a></li>
        <li {% if page.title == "About" %}class="active dropdown"{% endif %}><a href="{{"/about/" | prepend: site.baseurl }}">ABOUT</a></li>
        <li {% if page.title == "Contact" %}class="active dropdown"{% endif %}><a href="{{"/contact/" | prepend: site.baseurl }}">CONTACT</a></li>
        <!--<i class="fa fa-caret-down"></i>-->
        <!--<li><a href="#">DEPARTMENTS</a>-->
        <!--<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">-->
        <!--<i class="fa fa-caret-down"></i>-->
        <!--<ul class="dropdown-menu">-->
        <!--    <li><a href="#">Faculty Events</a></li>-->
        <!--    <li><a href="#">Seminars</a></li>-->
        <!--    <li><a href="#">Promotions</a></li>-->
        <!--   <li><a href="#">Awards</a></li>-->
        <!--    <li><a href="#">Visitors</a></li>-->
        <!--    <li><a href="#">Job Vacancies</a></li>-->
        <!--</ul>-->
        <!--</li>-->
      
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
