<div class="nav-container">
			<nav class="top-bar overlay-bar">
				<div class="container">
					<div class="row nav-menu">
						<div class="col-sm-3 col-md-2 columns">
							<a href="/">
								<img class="logo logo-light" alt="Logo" src="/assets/img/sf_logo_color_transparent.png">
								<img class="logo logo-dark" alt="Logo" src="/assets/img/sf_logo_color_transparent.png">
							</a>
						</div>
						<div class="col-sm-9 col-md-10 columns">
							<ul class="menu">
<!-- 								<li class="has-dropdown"><a href="/">Home Pages</a>
									<div class="subnav subnav-fullwidth" style="width: 680px; left: -300px;">
										<div class="col-md-3">
											<h6 class="alt-font">Home Layouts</h6>
											<ul class="subnav">
												<li><a href="index.html">Home Classic</a></li>
												<li><a href="home-2.html">Home Education</a></li>
												<li><a href="home-3.html">Home Business</a></li>
												<li><a href="home-4.html">Home Agency</a></li>
											</ul>
										</div>
										<div class="col-md-3">
											<a class="btn btn-primary" href="http://www.mediumra.re/pivot/variant/builder.html">Build your own</a>
											<a class="btn btn-primary btn-filled" href="#">Purchase Pivot</a>
										</div>
									</div>
								</li> -->
								<li class="has-dropdown"><a href="/integrations">Product</a>
									<ul class="subnav">
										<li><a href="/about">Snowplow</a></li>
										<li><a href="/integrations">Integrations</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a href="#">Customers</a>
									<ul class="subnav">
										<li><a href="/customers">Case studies</a></li>
									</ul>
								</li>
								<li class="has-dropdown"><a href="#">Company</a>
									<ul class="subnav">
										<li><a href="/who">Who we are</a>
									</ul>
								</li>
								<li class="has-dropdown"><a href="/blog">Blog</a>
									<ul class="subnav">
										<li><a href="blog-single.html">Article Basic</a></li>
										<li><a href="blog-single-2.html">Article Basic 2</a></li>
										<li><a href="blog-single-sidebar.html">Article Sidebar</a></li>
										<li><a href="blog-single-media.html">Article Media</a></li>
									</ul>
								</li>
								<li><a href="/contact">Contact Us</a>
								</li>

							</ul>

<!-- 							<ul class="social-icons text-right">
								<li>
									<a href="https://twitter.com/snowflake_data">
										<i class="icon social_twitter"></i>
									</a>
								</li>
							</ul> -->
						</div>
					</div><!--end of row-->

					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>

				</div><!--end of container-->
			</nav>
		</div>
