<div class="main-container" style="margin-top: 160px;">
			<section class="no-pad-bottom projects-gallery first-child">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Our Work</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.
							</p>
						</div>
					</div><!--end of row-->

				</div><!--end of container-->

				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active">All</li>
								<li data-filter=".branding">Branding</li>
								<li data-filter=".development">Development</li>
								<li data-filter=".print">Print Design</li>
							</ul>
						</div><!--end of row-->
					</div><!--end of container-->

					<div class="container">
						<div class="projects-container column-projects" style="position: relative; height: 630px;">

							<div class="col-md-4 col-sm-6 project development image-holder" style="position: absolute; left: 0px; top: 0px;">
								<div class="background-image-holder" style="background: url(&quot;img/project1.jpg&quot;) 50% 0%;">
									<img class="background-image" alt="Background Image" src="img/project1.jpg" style="display: none;">
								</div>
								<div class="hover-state">
									<div class="align-vertical" style="padding-top: 101px;">
										<h3 class="text-white"><strong>MS10</strong> UX</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->

							<div class="col-md-4 col-sm-6 project branding image-holder" style="position: absolute; left: 389px; top: 0px;">
								<div class="background-image-holder" style="background: url(&quot;img/project2.jpg&quot;) 50% 0%;">
									<img class="background-image" alt="Background Image" src="img/project2.jpg" style="display: none;">
								</div>
								<div class="hover-state">
									<div class="align-vertical" style="padding-top: 101px;">
										<h3 class="text-white"><strong>Medium</strong> Blog Platform</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->

							<div class="col-md-4 col-sm-6 project print image-holder" style="position: absolute; left: 779px; top: 0px;">
								<div class="background-image-holder" style="background: url(&quot;img/project3.jpg&quot;) 50% 0%;">
									<img class="background-image" alt="Background Image" src="img/project3.jpg" style="display: none;">
								</div>
								<div class="hover-state">
									<div class="align-vertical" style="padding-top: 101px;">
										<h3 class="text-white"><strong>Identity</strong> Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->

							<div class="col-md-4 col-sm-6 project print image-holder" style="position: absolute; left: 0px; top: 315px;">
								<div class="background-image-holder" style="background: url(&quot;img/project4.jpg&quot;) 50% 0%;">
									<img class="background-image" alt="Background Image" src="img/project4.jpg" style="display: none;">
								</div>
								<div class="hover-state">
									<div class="align-vertical" style="padding-top: 101px;">
										<h3 class="text-white"><strong>Aurora</strong> App Icons</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->

							<div class="col-md-4 col-sm-6 project branding image-holder" style="position: absolute; left: 389px; top: 315px;">
								<div class="background-image-holder" style="background: url(&quot;img/project5.jpg&quot;) 50% 0%;">
									<img class="background-image" alt="Background Image" src="img/project5.jpg" style="display: none;">
								</div>
								<div class="hover-state">
									<div class="align-vertical" style="padding-top: 101px;">
										<h3 class="text-white"><strong>Sketchbook</strong> Logo Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->

							<div class="col-md-4 col-sm-6 project development image-holder" style="position: absolute; left: 779px; top: 315px;">
								<div class="background-image-holder" style="background: url(&quot;img/project6.jpg&quot;) 50% 0%;">
									<img class="background-image" alt="Background Image" src="img/project6.jpg" style="display: none;">
								</div>
								<div class="hover-state">
									<div class="align-vertical" style="padding-top: 101px;">
										<h3 class="text-white"><strong>Muzik</strong> Home Screen</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->



						</div><!--end of projects-container-->
					</div><!--end of container-->

				</div><!--end of projects wrapper-->

			</section>
		</div>
