<div class="col-lg-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>

    <div class="spacing"></div> -->
    
    <h4>Classes</h4>
    <div class="hline"></div>
        <h6><a href="/teaching/login_information">Login Information</a></h6>
        <h6><a href="/teaching/submission_format">Submitting Assignments</a></h6>
        <h6><a href="/teaching/rules_regulations">Rules and Regulations</a></h6>
    <h4>Extras</h4>
    <div class="hline"></div>
        <h6><a href="/development/java_development">Java Development</a></h6>
        <h6><a href="/development/tips_tricks/">Tips and Tricks</a></h6>
        <h6><a href="/teaching/academic_resources">Academic Resources</a></h6>
</div>
