<div class="col-lg-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
    <h4>Subscribe</h4>
    <div class="hline"></div>
        <p>
            <a class="twitter-timeline" href="https://twitter.com/sketchbook59" data-widget-id="514076642910535680">ทวีตโดย @sketchbook59</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </p>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

            <div class="fb-comments" data-href="https://www.facebook.com/sketchbook59?fref=ts" data-width="360" data-numposts="2" data-colorscheme="light"></div>
    <h4>Recent Posts</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% for post in site.categories['blog'] limit:4 %} 
                <li>
                    <a href="{{ post.url  | prepend: site.baseurl }}"><img src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post"></a>
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                <em>Posted on {{ post.date | date_to_string }}</em>
            </li>
            {% endfor %} 
        </ul>
</div>