#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2FA7DC;
    background-image: url(https://thedryvalleys.files.wordpress.com/2009/11/happy-camper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.navbar {
    border-radius: 0px;
}
