#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2FA7DC;
    /*background-image: url(../img/snow.jpg);*/
    background-image: url(../img/a_blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.navbar {
    border-radius: 0px;
}
