<!--# courses:-->
<!--#     - cs:-->
<div class="text-justify">    
    <h4>PROGRAMME AIM AND OBJECTIVES</h4>
    <p>The programme aims to provide students with the necessary theoretical and practical computer
    science knowledge and skills which enable them to evaluate, select, and apply appropriate models,
    methods, technologies, and tools in the comprehension, manipulation, and development of complex
    computer-based systems. It also aims to equip students with the ability for critical thinking and lifelong
    learning that helps them to keep in pace with the rapid development of the technology in
    Computer Science.
    
    
    The objectives of the program are to equip students with the following graduate attributes:- 
    <ul style="list-style-type:square">
        <li>A sound base in the science of computers and in problem solving skills using computers</li>
        <li>Ability to develop sophisticated computer systems based on a thorough knowledge of 
        database design, software engineering, systems, network and communication technologies
        and computer architecture </li>
        <li>Interpersonal communication skills, strong sense of social commitment and professional
        ethics, ability to act independently  and organization of thought to solve and analyze
        abstract and complex problems</li>
        <li>Ability to understand and apply new skills and procedures efficiently and effectively</li>
        <li>Critical and creative thinking skills</li>
        <li>Entrepreneurship and employability skills</li>
        <li>Organizational and teamwork skills</li>
        <li>The foundation necessary for advanced study in computer science</li>
    </ul>
    </p>
    <br><br>
    <h6><strong>Graduate Profile</strong></h6>
    
    <p>In line with the mission of the department, the graduates of this program will have enhanced
    capacity for the following
    
    <ul style="list-style-type:square">
    
        <li>Software development - Software design and implementation, development of medium to
        large scale systems;</li> 
        <li>Developing effective problem solving - Application or development of computing theory
        and knowledge of algorithms to ensure the best possible solutions for computational
        intensive problems;</li>
        <li>Professional practice - Ability to apply personal goals setting and time management
        concepts; apply personal decision-making skills; articulate a personal position and respect
        the opinions of others; adhere to ethical standards; assess organisational and societal impact
        of computing technological solutions; actively seek and employ current best practices;</li>
        <li>Devise new ways to use computers - Innovation in application of computing technology;
        working in computing research and development establishments; involvement in
        entrepreneurial activities; </li>
        <li>Working in computing research and development establishments; involvement in
        entrepreneurial activities;  </li>
        <li>Knowledge advancement in the discipline; and</li>
        <li>Adaptability to new computing environments.</li>
        <li>Self-directed, lifelong learning skills</li>
    </ul><br>
    </p>
    <h4>Departmental Regulations</h4>
    
    <h6><strong><em>Entry Requirements</em></strong></h6>
    <p>
    Subject to the General Academic Regulation 00.5, the following departmental programme entry requirements shall apply
    for the programmes:
    
    <ol type="i">
        <li>For entry at the 100 level, candidates must have a minimum grade of C in Mathematics and two other science
        subjects with a computer studies recognized as a science subject and with a a minimum grade of D in English.</li> 
        <li>For entry into the programme at a higher level, the following shall apply:- </li><br>
            <ul style="list-style-type:square">
                <li>Transfer student from a Computer Science of Information Systems of equivalent programme from a higher
                institution considered equivalent to the University of Botswana, subject to General Academic
                Regulation 00.313.</li>
                <li>Candidates holding a post-Secondary qualification which is considered by the department as being
                atleast equivalent to the 100-level courses.</li><br><br>
                
                <strong><em>Assessments</em></strong> <br>
                
                <li>Final grade for all courses will be calculated as average of Continuous Assessment (CA) marks 
                and Final Examination marks except where it is otherwise specified.</li>
                <li>Duration of Final Examinations – 2 or 3 hours.</li>
                <li>CA marks will be calculated based on at least three assessments for a course.</li>
                <li>Specific requirements for CA marks calculations shall be as specified for each course. However, 
                normally the CA to Examination ration is 1:1 for lab-based courses with 1:2 otherwise.</li><br><br>
                
                <strong><em>Final Year Project</em></strong><br>
                
                <li>The Final Year Project is offered in semester 8.</li>
                <li>Assessment will be on the basis of a project’s analysis, design and its implementation; 
                implementation’s “Alpha and beta” versions and the final version of project, which includes the analysis, 
                design, implementation and documentation. Assessment will also be based on a demonstration of the 
                working version of the project’s implementation and knowledge, a demonstration to the supervisor and 1
                co-examiner from the Department and in addition, a formal presentation of the project to the Department 
                will normally be required. </li>
                <li>Detailed student project guideline shall be provided in each academic session.</li>
            </ul><br><br>
    </ol>
    
    <h4>Progression</h4>
    <p>Regulation governing progressions are as set out in General Regulations 00.9 and Special Regulations for the 
    Bachelor of Science Degree 23.6. </p><br><br>
    <h4>Award</h4>
    <p>To be awarded a degree, a student must satisfy appropriate provision of Academic General Regulation 23.71</p><br><br>
    
    <h4>PROGRAMME STRUCTURE</h4>
    <br>
    <!--Semester 1 programme structure-->
    <table class = "table table-hover table-condensed table-bordered">
        <caption style="text-align:left"><strong>Semester I</strong></caption>
        <thead>
            <tr class="info">
                <th>Courses</th>
                <th>Type</th>
                <th>Credits</th>
                <th>Pre-requisite</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>16</strong></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>CSI131 Discrete Structures I</td>
                <td>Core</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>CSI141 Programming Principles</td>
                <td>Core</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>CSI161 Introduction to Computing</td>
                <td>Core</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>MAT111 Introductory Mathematics I</td>
                <td>Core</td>
                <td>4</td>
                <td></td>
            </tr>
            <tr>
                <td>COM141 Communication and Study Skills I</td>
                <td>GEC</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>ICT121 Computiing Skills Fundamentals I</td>
                <td>Exempt</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--Semester 2 programme structure-->
    <table class = "table table-hover table-condensed table-bordered">
        <caption style="text-align:left"><strong>Semester II</strong></caption>
        <thead>
            <tr class="info">
                <th>Courses</th>
                <th>Type</th>
                <th>Credits</th>
                <th>Pre-requisite</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>18</strong></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>CSI132 Discrete Structures II</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI131</td>
            </tr>
            <tr>
                <td>CSI142 Object-Oriented Programming</td>
                <td>Core</td>
                <td>4</td>
                <td>CSI141</td>
            </tr>
            <tr>
                <td>STA122 Introductory Concepts of Probability</td>
                <td>Core</td>
                <td>4</td>
                <td></td>
            </tr>
            <tr>
                <td>MAT122 Introductory Mathematics II</td>
                <td>Core</td>
                <td>4</td>
                <td>MAT111</td>
            </tr>
            <tr>
                <td>COM142 Communication and Study Skills II</td>
                <td>GEC</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>ICT122 Computiing Skills Fundamentals II</td>
                <td>Exempt</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--Semester 3 programme structure-->
    <table class = "table table-hover table-condensed table-bordered">
        <caption style="text-align:left"><strong>Semester III</strong></caption>
        <thead>
            <tr class="info">
                <th>Courses</th>
                <th>Type</th>
                <th>Credits</th>
                <th>Pre-requisite</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>15</strong></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>CSI213 Discrete Structures III</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI132</td>
            </tr>
            <tr>
                <td>CSI247 Data Structures</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI132, CSI142</td>
            </tr>
            <tr>
                <td>CSI243 Functional Programming</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI142</td>
            </tr>
            <tr>
                <td>MAT221 Calculus I</td>
                <td>Core</td>
                <td>3</td>
                <td>MAT111</td>
            </tr>
            <tr>
                <td>Elective</td>
                <td>Elective</td>
                <td>3</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--Semester 4 programme structure-->
    <table class = "table table-hover table-condensed table-bordered">
        <caption style="text-align:left"><strong>Semester IV</strong></caption>
        <thead>
            <tr class="info">
                <th>Courses</th>
                <th>Type</th>
                <th>Credits</th>
                <th>Pre-requisite</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>15</strong></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>CSI223 Systems Programming</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI247</td>
            </tr>
            <tr>
                <td>CSI251 Computer Architecture &amp; Organization</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI161, CSI141</td>
            </tr>
            <tr>
                <td>CSI262 Database Concepts</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI247</td>
            </tr>
            <tr>
                <td>MAT212 Introductory Introductory Linear Algebra</td>
                <td>Core</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>Elective</td>
                <td>Elective</td>
                <td>3</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--Semester 5 programme structure-->
    <table class = "table table-hover table-condensed table-bordered">
        <caption style="text-align:left"><strong>Semester V</strong></caption>
        <thead>
            <tr class="info">
                <th>Courses</th>
                <th>Type</th>
                <th>Credits</th>
                <th>Pre-requisite</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>15</strong></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>CSI323 Algorithms</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI247</td>
            </tr>
            <tr>
                <td>CSI342 Systems Analysis &amp; Design</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI262</td>
            </tr>
            <tr>
                <td>CSI354 Operating Systems</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI247, CSI251</td>
            </tr>
            <tr>
                <td>CSI374 Computer Networks</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI142, CSI251</td>
            </tr>
            <tr>
                <td>Elective</td>
                <td>Elective</td>
                <td>3</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--Semester 6 programme structure-->
    <table class = "table table-hover table-condensed table-bordered">
        <caption style="text-align:left"><strong>Semester VI</strong></caption>
        <caption style="text-align:left; caption-side:bottom">*Students are advised to take 
        MGT202 which is a pre-requisite to MGT303 in Semester 6</caption>
        <thead>
            <tr class="info">
                <th>Courses</th>
                <th>Type</th>
                <th>Credits</th>
                <th>Pre-requisite</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>15</strong></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>CSI315 Web Technology and Applications</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI262, CSI374</td>
            </tr>
            <tr>
                <td>CSI332 Programming Languages</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI243</td>
            </tr>
            <tr>
                <td>CSI341 Introduction to Software Engineering</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI342</td>
            </tr>
            <tr>
                <td><strong>Min 6 Credits From:</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>MGT303 Entrepreneurship and New Business Formation</td>
                <td>Optional</td>
                <td>3</td>
                <td>MGT202</td>
            </tr>
            <tr>
                <td>CSI392 Human Computer Interation</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI342</td>
            </tr>
            <tr>
                <td>CSI344 Artificial Intelligence</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI247</td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--Winter semester programme structure-->
    <table class = "table table-hover table-condensed table-bordered">
        <caption style="text-align:left"><strong>Winter Semester</strong></caption>
        <thead>
            <tr class="info">
                <th>Courses</th>
                <th>Type</th>
                <th>Credits</th>
                <th>Pre-requisite</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CSI352 Industrial Attachment</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI354, CSI374, CSI342</td>
            </tr>
        </tbody>
    </table>
    <br>

    <p>For semester VII and VIII, students choose from the following areas of specialization:
        <ol type="1">
            <li>Software Engineering</li>
            <li>Systems &amp; Networks</li>
        </ol>
    </p>
    <br>
    
    <!--Semester 7 programme structure-->
    <table class = "table table-hover table-condensed table-bordered">
        <caption style="text-align:left"><strong>Semester VII</strong></caption>
        <thead>
            <tr class="info">
                <th>Courses</th>
                <th>Type</th>
                <th>Credits</th>
                <th>Pre-requisite</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>15</strong></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>CSI413 Theory of Computation</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI323</td>
            </tr>
            <tr>
                <td>CSI475 Social Informatics</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI352</td>
            </tr>
            <tr>
                <td>CSI481 Database Systems</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI262</td>
            </tr>
            <tr>
                <td><strong>Software Engineering Stream (Min 6 Credits From:)</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>CSI435 Intelligent Systems</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI342</td>
            </tr>
            <tr>
                <td>CSI443 Requirements Engineering</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI341</td>
            </tr>
            <tr>
                <td>CSI473 Software Design</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI341</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>15</strong></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Systems &amp; Networks Stream (Min 6 Credits From:)</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>CSI435 Sensor Networks</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI374</td>
            </tr>
            <tr>
                <td>CSI462 Distributed Computing</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI354, CSI374</td>
            </tr>
            <tr>
                <td>CSI493 Computer Graphics</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI247</td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--Semester 8 programme structure-->
    <table class = "table table-hover table-condensed table-bordered">
        <caption style="text-align:left"><strong>Semester VIII</strong></caption>
        <thead>
            <tr class="info">
                <th>Courses</th>
                <th>Type</th>
                <th>Credits</th>
                <th>Pre-requisite</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>16</strong></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>CSI408 Project</td>
                <td>Core</td>
                <td>4</td>
                <td>CSI352, CSI315, CSI341</td>
            </tr>
            <tr>
                <td>CSI428 Programming Language Translation</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI413</td>
            </tr>
            <tr>
                <td>CSI468 Computer Networks &amp; Security</td>
                <td>Core</td>
                <td>3</td>
                <td>CSI374</td>
            </tr>
            <tr>
                <td><strong>Software Engineering Stream (Min 6 Credits From:)</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>CSI345 Interactive Programming</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI223, CSI354</td>
            </tr>
            <tr>
                <td>CSI392 Human Computer Interaction</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI342</td>
            </tr>
            <tr>
                <td>CSI444 Software Project Management</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI443 or CSI473</td>
            </tr>
            <tr>
                <td>Elective</td>
                <td></td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>16</strong></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Systems &amp; Networks Stream (Min 6 Credits From:)</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>CSI424 Network Algorithms</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI374, CSI323</td>
            </tr>
            <tr>
                <td>CSI464 Mobile Computing</td>
                <td>Optional</td>
                <td>3</td>
                <td>CSI374</td>
            </tr>
            <tr>
                <td>Elective</td>
                <td></td>
                <td>3</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
