---
layout: default
---
<div class="main-container">
		<header style="padding-top: 150px;background-color: #99CCFF;" >
			<div class="background-image-holder parallax-background skrollable skrollable-between" data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)" data-center="-webkit-transform: translate3d(0px,0px, 0px)" data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)" style="background: url(&quot;img/side3.jpg&quot;) 50% 0%; transform: translate3d(0px, 78.6792px, 0px);">
				<img class="background-image" alt="Background Image" src="img/side3.jpg" style="display: none;">
			</div>

			<div class="container" style="color: #fff;">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-white" style="color: #fff;">About Us</h2>
						<p class="text-white lead" style="color: #fff;">Learn why we're the best at what we do<br>and why we're regarded as one of the best<br>in the analytics industry today.</p>
					</div>
				</div><!--end of row-->
			</div><!--end of container-->
		</header>
		<section class="feature-selector">
						<div class="container">
						</div>
						<div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center" style="padding-top: 20px;">
                  <h2>About Snowflake Analytics</h2>
                </div>
              </div><!--end of row-->
							<ul class="selector-content">
								<li class="clearfix active">
									<div class="row">
										<div class="col-sm-12 text-center">
											<h4>We’re a team of highly experienced analysts, data scientists and engineers.</h4>
										</div>
									</div><!--end of row-->
									<div class="row">
										<div class="col-sm-6">
											<p> Our mission is to simplify data pipeline management to help you unify your customer analytics. Our managed service offerings looks after the details of your Snowplow Analytics installation so your business can focus on merging your data sources and getting customer insights quickly.</p>
										</div>
										<div class="col-sm-6">
											<p>We're here to help free up your analysts, engineers and data scientists to do what they do best: create value for your data-driven enterprise. We live and breath Snowplow Analytics and are passionate about the power of open source event analytics. Our partnership with Snowplow Analytics LLC ensures you're dealing with the local experts.</p>
										</div>
									</div><!--end of row-->
								</li><!--end of individual feature content-->
							</ul>
						</div>
					</section>

<section class="team-1">
								<div class="container">
									<div class="row">
										<div class="col-md-8 col-md-offset-2 text-center" style="padding-bottom: 20px;">
											<h2> Our Team</h2>
										</div>
									</div><!--end of row-->

									<div class="row space-bottom-large">
										<div class="col-sm-4">
											<div class="team-1-member">
												<img alt="Team Member" src="/assets/img/snowflake-founders/simon-square.jpg">
												<h3>Simon Rumble</h3>
												<h4>Co Founder</h4>
												<p class="space-top-small">
													Simon has been doing Internet stuff for 24 years and got into digital analytics while trying to understand what people were doing on web sites and why. He loves joining the dots between different sets of data in order to tell a story.
												</p>
											</div><!--end of team member-->
										</div>

										<div class="col-sm-4">
											<div class="team-1-member">
												<img alt="Team Member" src="/assets/img/snowflake-founders/narbeh-square.jpg">
												<h3>Narbeh Yousefian</h3>
												<h4>Co Founder</h4>
												<p class="space-top-small">
													Narbeh has worked in analytics and statistics for over 16 years moving from supply chain logistics into digital to apply his analytical mind to business problems.
												</p>
											</div><!--end of team member-->
										</div>

										<div class="col-sm-4">
											<div class="team-1-member">
												<img alt="Team Member" src="/assets/img/snowflake-founders/mike-square.jpg">
												<h3>Mike Robins</h3>
												<h4>Co Founder</h4>
												<p class="space-top-small">
													Mike studied neuroscience and psychology before diving into the application of computation to science, becoming an accomplished data scientist while working on domains from astronomy to ecommerce.
												</p>
											</div><!--end of team member-->
										</div>
									</div>
									<div class="row space-bottom-large">
                    <div class="col-sm-4">
                      <div class="team-1-member">
                        <img alt="Team Member" src="/assets/img/snowflake-founders/raad.jpeg">
                        <h3>Raad Kamal </h3>
                        <h4>Data Engineer</h4>
                        <p class="space-top-small">
                          Raad's background includes a Masters of Computing at ANU, working for a big mobile payments company and some really cool projects including using drones to track wildlife for biology researchers.
                        </p>
                      </div><!--end of team member-->
                    </div>

										<div class="col-sm-4">
                      <div class="team-1-member">
                        <img alt="Team Member" src="/assets/img/snowflake-founders/question.jpg">
                        <h3>Matthew Van Schellebeeck</h3>
                        <h4>Data Engineer</h4>
                        <p class="space-top-small">
                          Raad's background includes a Masters of Computing at ANU, working for a big mobile payments company and some really cool projects including using drones to track wildlife for biology researchers.
                        </p>
                      </div><!--end of team member-->
                    </div>

										<div class="col-sm-4">
                      <div class="team-1-member">
                        <img alt="Team Member" src="/assets/img/snowflake-founders/question.jpg">
                        <h3>Raad Kamal </h3>
                        <h4>Data Engineer</h4>
                        <p class="space-top-small">
                          Raad's background includes a Masters of Computing at ANU, working for a big mobile payments company and some really cool projects including using drones to track wildlife for biology researchers.
                        </p>
                      </div><!--end of team member-->
                    </div>

									</div><!--end of row-->

									<!--end of row-->

								</div><!--end of container-->
							</section>
</div>

{% include clients.html %}
