---
layout: default
---

<div class="main-container">
			<header class="page-header" style="padding-top: 270px;">
				<div class="background-image-holder parallax-background skrollable skrollable-between" data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)" data-center="-webkit-transform: translate3d(0px,0px, 0px)" data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)" style="background: url(&quot;img/side3.jpg&quot;) 50% 0%; transform: translate3d(0px, 78.6792px, 0px);">
					<img class="background-image" alt="Background Image" src="img/side3.jpg" style="display: none;">
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white alt-font">Meet The Team</span>
							<h1 class="text-white">About Us</h1>
							<p class="text-white lead">Learn why we're the best at what we do<br>and why we're regarded as one of the best<br>in the creative industry today.</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>

			<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="feature">
								<h5>Amazingly Simple Use</h5>
								<p>
									Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
								</p>
							</div>
						</div><!--end 4 col-->

						<div class="col-sm-4">
							<div class="feature">
								<h5>Built on Bootstrap 3</h5>
								<p>
									Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
								</p>
							</div>
						</div><!--end 4 col-->

						<div class="col-sm-4">
							<div class="feature">
								<h5>Rock Solid Flexibility</h5>
								<p>
									Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
								</p>
							</div>
						</div><!--end 4 col-->
					</div><!--end of row-->
				</div>
			</section>

			<section class="duplicatable-content">

				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>Showcase services in a<br>spacious &amp; clean manner</h1>
						</div>
					</div><!--end of row-->

					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="feature feature-icon-large">
								<i class="icon icon-notebook"></i>
								<h5>Consistent Typography</h5>
								<p>
									Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
								</p>
							</div>
						</div><!--end 3 col-->

						<div class="col-md-3 col-sm-6">
							<div class="feature  feature-icon-large">
								<i class="icon icon-strategy"></i>
								<h5>Varied Element Set</h5>
								<p>
									Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
								</p>
							</div>
						</div><!--end 3 col-->

						<div class="col-md-3 col-sm-6">
							<div class="feature  feature-icon-large">
								<i class="icon icon-tools"></i>
								<h5>Variant Builder</h5>
								<p>
									Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
								</p>
							</div>
						</div><!--end 3 col-->

						<div class="col-md-3 col-sm-6">
							<div class="feature feature-icon-large">
								<i class="icon icon-documents"></i>
								<h5>Clear Documentation</h5>
								<p>
									Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
								</p>
							</div>
						</div><!--end 3 col-->
					</div><!--end of row-->
				</div>

			</section>

			<section class="team-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>We've a killer team at the helm</h1>
						</div>
					</div><!--end of row-->

					<div class="row">
						<div class="col-md-4 col-md-offset-2 col-sm-6">
							<div class="team-2-member">
								<div class="image-holder">
									<img alt="Team Member" class="background-image" src="img/team-large-1.jpg">
									<div class="hover-state">
										<ul class="social-icons align-vertical" style="padding-top: 168.279px;">
											<li>
												<a href="#">
													<i class="icon social_facebook"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon social_twitter"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon social_dribbble"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<span class="name">Chip Mayer</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="team-2-member">
								<div class="image-holder">
									<img alt="Team Member" class="background-image" src="img/team-large-2.jpg">
									<div class="hover-state">
										<ul class="social-icons align-vertical" style="padding-top: 168.279px;">
											<li>
												<a href="#">
													<i class="icon social_googleplus"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon social_spotify"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon social_linkedin"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<span class="name">Janine Kennedy</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
							</div>
						</div>
					</div><!--end of row-->

					<div class="row">
						<div class="col-md-4 col-md-offset-2 col-sm-6">
							<div class="team-2-member">
								<div class="image-holder">
									<img alt="Team Member" class="background-image" src="img/team-large-3.jpg">
									<div class="hover-state">
										<ul class="social-icons align-vertical" style="padding-top: 168.279px;">
											<li>
												<a href="#">
													<i class="icon social_facebook"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon social_twitter"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon social_dribbble"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<span class="name">Claire Taurus</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="team-2-member">
								<div class="image-holder">
									<img alt="Team Member" class="background-image" src="img/team-large-4.jpg">
									<div class="hover-state">
										<ul class="social-icons align-vertical" style="padding-top: 168.279px;">
											<li>
												<a href="#">
													<i class="icon social_googleplus"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon social_spotify"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon social_linkedin"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<span class="name">Vincent Simmons</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
							</div>
						</div>
					</div><!--end of row-->


				</div><!--end of container-->
			</section>

			<section class="image-slider-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>Check out our fancy new office</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
							</p>
							<div class="image-slider image-gallery">

							<div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-2310px, 0px, 0px);"><li class="clone" style="width: 770px; float: left; display: block;"><img alt="Image Slider Image" src="img/slider3.jpg" draggable="false"></li><li class="clone" aria-hidden="true" style="width: 770px; float: left; display: block;"><img alt="Image Slider Image" src="img/slider3.jpg" draggable="false"></li>
									<li class="" style="width: 770px; float: left; display: block;"><img alt="Image Slider Image" src="img/slider1.jpg" draggable="false"></li>
									<li class="" style="width: 770px; float: left; display: block;"><img alt="Image Slider Image" src="img/slider2.jpg" draggable="false"></li>
									<li class="flex-active-slide" style="width: 770px; float: left; display: block;"><img alt="Image Slider Image" src="img/slider3.jpg" draggable="false"></li>
								<li class="clone" aria-hidden="true" style="width: 770px; float: left; display: block;"><img alt="Image Slider Image" src="img/slider1.jpg" draggable="false"></li><li class="clone" style="width: 770px; float: left; display: block;"><img alt="Image Slider Image" src="img/slider1.jpg" draggable="false"></li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div><!--end of image slider-->
						</div>

					</div><!--end of row-->
				</div><!--end of container-->
			</section>
		</div>

{% include testimonial.html %}
{% include clients.html %}
