---
layout: default
---

<div class="main-container">
		<header class="page-header" style="padding-top: 270px;">
			<div class="background-image-holder parallax-background skrollable skrollable-between" data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)" data-center="-webkit-transform: translate3d(0px,0px, 0px)" data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)" style="background: url(&quot;img/side3.jpg&quot;) 50% 0%; transform: translate3d(0px, 78.6792px, 0px);">
				<img class="background-image" alt="Background Image" src="img/side3.jpg" style="display: none;">
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span class="text-white alt-font">Meet The Team</span>
						<h1 class="text-white">About Us</h1>
						<p class="text-white lead">Learn why we're the best at what we do<br>and why we're regarded as one of the best<br>in the analytics industry today.</p>
					</div>
				</div><!--end of row-->
			</div><!--end of container-->
		</header>
		<section class="feature-selector">
						<div class="container">
						</div>
						<div class="container">
							<ul class="selector-content">
								<li class="clearfix active">
									<div class="row">
										<div class="col-sm-12 text-center">
											<h1>We’re a team of highly experienced analysts, data scientists and engineers.</h1>
										</div>
									</div><!--end of row-->
									<div class="row">
										<div class="col-sm-6">
											<p class="lead">
												Snowflake Analytic's mission is to simplify data pipeline management for unifying customer analytics. Our managed service offering provides the platform to give businesses the tools to unify their data sources and harness customer insights quickly. We're here to help customers free up their analytics function so engineers, analysts and scientists can focus on what they do best, creating value for their data-driven enterprise.
											</p>
										</div>
										<div class="col-sm-6">
											<p class="lead">
												We love solving tough problems and helping businesses to get more from their data. Simon and Narbeh were two of the earliest users of Snowplow, with a wealth of experience implementing it in complex environments. We live and breath Snowplow and are passionate about growing the ecosystem. Our partnership with Snowplow Analytics LLC ensure’s you’re dealing with the local experts.
											</p>
										</div>
									</div><!--end of row-->
								</li><!--end of individual feature content-->
							</ul>
						</div>
					</section>

<section class="team-1">
								<div class="container">
									<div class="row">
										<div class="col-md-8 col-md-offset-2 text-center">
											<h1>About Our Team</h1>
										</div>
									</div><!--end of row-->

									<div class="row space-bottom-large">
										<div class="col-sm-4">
											<div class="team-1-member">
												<img alt="Team Member" src="/assets/img/snowflake-founders/simon-square.jpg">
												<h2>Simon Rumble</h2>
												<h5>Co Founder</h5>
												<p class="space-top-small">
													Simon has been doing Internet stuff for 24 years and got into digital analytics while trying to understand what people were doing on web sites and why. He loves joining the dots between different sets of data in order to tell a story.
												</p>
											</div><!--end of team member-->
										</div>

										<div class="col-sm-4">
											<div class="team-1-member">
												<img alt="Team Member" src="/assets/img/snowflake-founders/narbeh-square.jpg">
												<h2>Narbeh Yousefian</h2>
												<h5>Co Founder</h5>
												<p class="space-top-small">
													Narbeh has worked in analytics and statistics for over 16 years moving from supply chain logistics into digital to apply his analytical mind to business problems.
												</p>
											</div><!--end of team member-->
										</div>

										<div class="col-sm-4">
											<div class="team-1-member">
												<img alt="Team Member" src="/assets/img/snowflake-founders/mike-square.jpg">
												<h2>Mike Robins</h2>
												<h5>Co Founder</h5>
												<p class="space-top-small">
													Mike studied neuroscience and psychology before diving into the application of computation to science, becoming an accomplished data scientist while working on domains from astronomy to ecommerce.
												</p>
											</div><!--end of team member-->
										</div>


									</div><!--end of row-->

									<!--end of row-->

								</div><!--end of container-->
							</section>
</div>

{% include testimonial.html %}
{% include clients.html %}
