---
layout: default
---
<header class="page-header" style="padding-top: 270px;">
				<div class="background-image-holder parallax-background skrollable skrollable-between" data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)" data-center="-webkit-transform: translate3d(0px,0px, 0px)" data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)" style="background:url(/assets/img/hero6.jpg") 50% 0%; transform: translate3d(0px, 73.9623px, 0px);">
					<img class="background-image" alt="Background Image" src="img/hero6.jpg" style="display: none;">
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white alt-font">Our blog</span>
							<h1 class="text-white">News &amp; Views&nbsp;</h1>
							<p class="text-white lead">Learn why we're the best at what we do<br>and why we're regarded as one of the best<br>in the creative industry today.</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>

    {{ content }}
