---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">



            <div class=non-floater style="overflow:hidden;">
              <iframe width="{{page.width}}" height="{{page.height}}" src="{{page.src}}"></iframe>
            </div>

            <div class="gameplayer" data-sub="cdn" data-width="{{page.width}}" data-height="{{page.height}}" data-gid="{{page.id-game}}"></div>
        <script>
        (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://cdn.gameplayer.io/api/js/publisher.js'; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'gameplayer-publisher'));
         </script>

    </div><! --/row -->
</div><! --/container -->

{% include portfolio.html title="Jeux similaires" limit=5 %}
