---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">


        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>
            <div class=non-floater style="overflow:hidden;">
              <iframe style="width:100%; padding:0; border:0; hegiht:100px;" src="{{page.src}}"></iframe>
            </div>
            {{ content }}

        </div>

    </div><! --/row -->
</div><! --/container -->

{% include portfolio.html title="Jeux similaires" limit=5 %}
